body{
    background-color: azure;
    color: black;
    margin: 0;
    font-family: Kinnari,sans-serif;
}
.form{
    border: 2px solid black;
    margin-top: 200px;
    margin-left: 20%;
    padding: 30px;
    width: 20%;
    position: relative;
    float: left;
    text-align: center;
}
h1,h4{
    text-align: center;
}