<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <a href="/" style="text-decoration: none;"><h3><span style="font-size: 45px;color: crimson" >CP</span> Market</h3></header>
        <nav>
            <ul type="none" style="float: right;padding: 5px;">
                <li><a href="/login"><button type="button">Login / Register</button></a> </li>
            </ul>
        </nav>
    </header>
</body>
</html>